:root {
    --color-accent: #eca601;
    accent-color: var(--color-accent);
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
     font: 100%/1.5 system-ui;
     margin: 0;
     max-width: 100ch;
     margin-inline: auto;

     h1 {
        font-size: 300%;
     }

     h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
        text-wrap: balance;
     }
}

img {
    max-width: 100%;
}

.content {
    padding: 2em;
}


/* CONTACT PAGE */

#contact-title {
    text-align: center;
}

form {
    margin: auto;
    max-width: 50ch;
    display: grid;
    gap: 1em;
    /* grid-template-columns: auto 1fr; */
    grid-template-columns: subgrid;
    
    label {
        display: grid;
        grid-template-columns: .2fr 1fr;
    }

    button {
        grid-column: 1 / -1;
    }
}

input, textarea, button, select {
    font: inherit;
}

/* INTRO PAGE */
#selfie {
    width: 100%;
    height: 100%;
    float: right;
    border-radius: 5%;
    margin-right: 5%;
    margin-left: 3%;
    max-width: 40%;
}

/* RESUME FORMATTING */
#resume {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5%;
}

#resume h3 {
    margin: 5px;
}

#resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume-header h2 {
    margin: 5px;
}

#resume-head a {
    margin: 5px;
}

.resume-entry-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-entry-header h4 {
    margin: 5px;
}

.resume-entry-header p {
    margin: 5px;
}

.resume-entry-header-right {
    text-align: right;
}

#resume-skills-body p{
    margin: 5px;
}

/* Stats */
dl.stats {
    display: grid;
    gap: 1em;
    dt {
        grid-row: 1/2;
    }

    dd {
        grid-row: 2/3;
        font-size: 2.0rem;
        margin: 0;
    }
}


   