:root {
    --color-accent: #eca601;
    accent-color: var(--color-accent);
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
     font: 100%/1.5 system-ui;
     margin: 0;
     max-width: 100ch;
     margin-inline: auto;

     h1 {
        font-size: 300%;
     }

     h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
        text-wrap: balance;
     }
}

img {
    max-width: 100%;
}

.content {
    padding: 2em;
    padding-top: 0;
}

/* Used in both the Meta page and the Home page */
dl.stats {
    display: grid;
    gap: 1em;
    dt {
        grid-row: 1/2;
    }

    dd {
        grid-row: 2/3;
        font-size: 2.0rem;
        margin: 0;
    }
}